## Java

*.class
*.war
*.ear
hs_err_pid*

## Robovm
src/ios/robovm-build/
src/iosexport/

## GWT
src/html/war/
src/html/gwt-unitCache/
src/.apt_generated/
src/.gwt/
src/gwt-unitCache/
src/www-test/
src/.gwt-tmp/

## Android Studio and Intellij and Android in general
src/android/libs/armeabi/
src/android/libs/armeabi-v7a/
src/android/libs/arm64-v8a/
src/android/libs/x86/
src/android/libs/x86_64/
src/android/gen/
.idea/
*.ipr
*.iws
*.iml
src/android/out/
com_crashlytics_export_strings.xml
src/android/libs

## Eclipse

.classpath
.project
.metadata/
src/android/bin/
src/core/bin/
src/desktop/bin/
src/html/bin/
src/ios/bin/
src/ios-moe/bin/
*.tmp
*.bak
*.swp
*~.nib
.settings/
.loadpath
.externalToolBuilders/
*.launch

## NetBeans

/nbproject/private/
src/android/nbproject/private/
src/core/nbproject/private/
src/desktop/nbproject/private/
src/html/nbproject/private/
src/ios/nbproject/private/
src/ios-moe/nbproject/private/

src/build/
src/android/build/
src/core/build/
src/desktop/build/
src/html/build/
src/ios/build/
src/ios-moe/build/

/nbbuild/
src/android/nbbuild/
src/core/nbbuild/
src/desktop/nbbuild/
src/html/nbbuild/
src/ios/nbbuild/
src/ios-moe/nbbuild/

src/dist/
src/android/dist/
src/core/dist/
src/desktop/dist/
src/html/dist/
src/ios/dist/
src/ios-moe/dist/

src/nbdist/
src/android/nbdist/
src/core/nbdist/
src/desktop/nbdist/
src/html/nbdist/
src/ios/nbdist/
src/ios-moe/nbdist/

nbactions.xml
nb-configuration.xml

## Gradle

src/local.properties
.gradle/
gradle-app.setting
src/build/
src/android/build/
src/core/build/
src/desktop/build/
src/html/build/
src/ios/build/
src/ios-moe/build/

## OS Specific
.DS_Store
Thumbs.db

## iOS
src/ios/xcode/*.xcodeproj/*
!src/ios/xcode/*.xcodeproj/xcshareddata
!src/ios/xcode/*.xcodeproj/project.pbxproj
src/ios/xcode/native/

src/ios-moe/xcode/*.xcodeproj/*
!src/ios-moe/xcode/*.xcodeproj/xcshareddata
!src/ios-moe/xcode/*.xcodeproj/project.pbxproj
src/ios-moe/xcode/native/

src/palettegenerator/node_modules
